/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+JP:wght@700&family=Piedra&family=Roboto:ital,wght@0,300;0,400;0,900;1,100&family=Sofia&display=swap');
:root{
    --light-gray: #2b3032a1;
    --primary-color: #287f8f7a;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "roboto", sans-serif;
    --sofia:"sofia", cursive;
    --gugi:"Gugi", cursive;
}


.primary-color{
    color:var(--primary-color)
}

.bg-primary-color{
    background-color: var(--primary-color)!important;
}

.text-color{
    color: vr(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.lightblue{
    color: lightblue;
}

/*header*/
header{
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

header .site-title{
    font-family: var(--gugi);
} 

.container .dropdown-toggle,
.container .dropdown-item{
    font-size:0.7em;
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}

/* nav menu*/

.navbar-nav .nav-link{
    font-size: 0.9em;
    color: var(--light-gray) !important;
}

.navbar-nav .nav-item .nav-ink{
     padding: 0 1.3em;
}

.navbar-nav .busket-icon{
    margin-right: 6.5rem !important;
} 

/*slider 1*/

.site-slide{
    position:relative;
}
.position-top{
    position:absolute;
    top:50%;
}

.site-slider.slider-btn.prev,
.site-slider.slider-btn.next{
    background-color: var(--primary-color);
    padding:1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
    opacity: 0;
    transition:opacity 1s ease;
}

.site-slider:hover .slider-btn.prev,
.site-slider:hover .slider-btn.next{
    opacity: 1;
}

.right-0{
    right:0;
}

/*slick-dots*/

.slick-dots{
    display:flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}

.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0);
}

/*second slider*/

.site-slider-two{
    position: relative;
    height: 30%;

}

.site-slider-two .products{
    height:25rem;
    position: relative;
    overflow: hidden;
}

.site-slider-two .products img{
    width: 90%;
    margin:auto;
}

.site-btn.btn-span{
    padding: 0.8rem 1.9rem;
    border-radius: 4rem;
    border: 1px solid var(--border);
    background-color: rgb(250, 248, 248);
    color: var(--light-gray);
}

.slider-two .slick-track .products:hover span{
    background-color: #3b7ac2;
}

#footer {
    padding: 1.5em 0;
    line-height: 1.2;
}

/*products*/
.section-bg{
    background: white;
    padding: 60px 0;
}

.section-title{
    margin-bottom: 25px;
}

.section-title h2{
    position: relative;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    text-transform: capitalize;
    display: inline-block;
    font-family:"Didact Gothic", sans-serif ;
}
.single-product{
    box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255, 253, 253, 0.76),
    inset 2px 2px 4px rgba(255, 253, 253, 0.521),
    inset 2px 2px 8px rgba(0,0,0,0.15);
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 50px;
}

.single-product .product-thumb{
    margin-bottom: 20px;
}
img{
    display: inline-block;
    max-width:100%;
}

.single-product .product-title{
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}
.single-product .product-title h3{
    font-family: "didact gothic", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.single-product .product-title h3 a{
    color: rgba(0, 0, 0, 0.795);
    text-decoration: none;

}

.single-product:hover{
    box-shadow: -2px -2px 8px white,
     -2px -2px 12px rgba(177, 175, 175, 0.76),
    inset 2px 2px 4px rgba(148, 147, 147, 0.521),
     2px 2px 8px rgba(0,0,0,0.15);
}
.product-btns{
    display: flex;
    justify-content: center;
}

.single-product .product-title h3 a:hover{
    color:#5f808d88;
}

a{
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    color: rgba(0, 0, 0, 0.726);
}

.btn-small{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 32px;
    border-radius: 50px;
    box-shadow: -2px -2px 8px white,
    -2px -2px 12px rgba(177, 175, 175, 0.76),
   inset 2px 2px 4px rgba(148, 147, 147, 0.521),
    2px 2px 8px rgba(0,0,0,0.15);
    transition:0.4s ;
}

.btn-round
{
    display: inline block;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: -2px -2px 8px white,
    -2px -2px 12px rgba(177, 175, 175, 0.76),
   inset 2px 2px 4px rgba(148, 147, 147, 0.521),
    2px 2px 8px rgba(0,0,0,0.15);
    transition:0.4s ;
}
.btn-small:hover{
    box-shadow: -2px -2px 8px white,
    -2px -2px 12px rgba(177, 175, 175, 0.76),
   inset 2px 2px 4px rgba(148, 147, 147, 0.521),
    2px 2px 8px rgba(0,0,0,0.15);
    color: #6f9eb1a1;
    text-decoration: none;
}
.btn-round:hover{
    box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(177, 175, 175, 0.76),
    inset 2px 2px 4px rgba(148, 147, 147, 0.521),
    inset 2px 2px 8px rgba(0,0,0,0.15);
    color: #5f808da1;
}

.button-center
{justify-content: center;
 text-align: center;
}

.bttn-def{
    display: inline block;
    font-size: 14px;
    font-weight: 700px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 25px;
    border-radius: 50px;
    text-decoration: none;

}

.bttn-def:hover{
    color: rgb(71, 110, 133);
    box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(177, 175, 175, 0.76),
    inset 2px 2px 4px rgba(148, 147, 147, 0.521),
    inset 2px 2px 8px rgba(0,0,0,0.15);
    color: rgba(111, 151, 173, 0.877);
}

.bttn-def:hover span{
    display: inline-block ;
    transform: scale(0.98);
}