/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+JP:wght@700&family=Piedra&family=Roboto:ital,wght@0,300;0,400;0,900;1,100&family=Sofia&display=swap');
:root{
    --light-gray: #2b3032a1;
    --primary-color: #287f8f7a;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "roboto", sans-serif;
    --sofia:"sofia", cursive;
    --gugi:"Gugi", cursive;
}


.primary-color{
    color:var(--primary-color)
}

.bg-primary-color{
    background-color: var(--primary-color)!important;
}

.text-color{
    color: vr(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.lightblue{
    color: lightblue;
}

/*header*/
header{
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

header .site-title{
    font-family: var(--gugi);
} 

.container .dropdown-toggle,
.container .dropdown-item{
    font-size:0.7em;
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}

/* nav menu*/

.navbar-nav .nav-link{
    font-size: 0.9em;
    color: var(--light-gray) !important;
}

.navbar-nav .nav-item .nav-ink{
     padding: 0 1.3em;
}

.navbar-nav .busket-icon{
    margin-right: 6.5rem !important;
} 

/*slider 1*/

.site-slide{
    position:relative;
}
.position-top{
    position:absolute;
    top:45%;
}

.site-slider.slider-btn.prev,
.site-slider.slider-btn.next{
    background-color: var(--primary-color);
    padding:1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
    opacity: 0;
    transition:opacity 1s ease;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
    opacity: 1;
}

.right-0{
    right:0;
}

/*slick-dots*/

.slick-dots{
    display:flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}

.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0);
}

/*second slider*/

.site-slider-two{
    position: relative;
    height: 30%;

}

.site-slider-two .products{
    height:25rem;
    position: relative;
    overflow: hidden;
}

.site-slider-two .products img{
    width: 90%;
    margin:auto;
}

.site-btn.btn-span{
    font-size: smaller;
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    border: 1px solid var(--border);
    background-color: rgb(250, 248, 248);
    color: var(--light-gray);
}

.slider-two .slick-track .products:hover span{
    background-color: #3b7ac2;
}


/*products*/
.section-bg{
    background: white;
    padding: 60px 0;
}

.section-title{
    margin-bottom: 25px;
}

.section-title h2{
    position: relative;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    text-transform: capitalize;
    display: inline-block;
    font-family:"Didact Gothic", sans-serif ;
}
.single-product{
    box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255, 253, 253, 0.76),
    inset 2px 2px 4px rgba(255, 253, 253, 0.521),
    inset 2px 2px 8px rgba(0,0,0,0.15);
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 50px;
}

.single-product .product-thumb{
    margin-bottom: 20px;
}
img{
    display: inline-block;
    max-width:100%;
}


.single-product .product-title{
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}
.single-product .product-title h3{
    font-family: "didact gothic", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.single-product .product-title h3 a{
    color: rgba(0, 0, 0, 0.795);
    text-decoration: none;

}

.single-product:hover{
    box-shadow: -2px -2px 8px white,
     -2px -2px 12px rgba(177, 175, 175, 0.76),
    inset 2px 2px 4px rgba(148, 147, 147, 0.521),
     2px 2px 8px rgba(0,0,0,0.15);
}
.product-btns{
    display: flex;
    justify-content: center;
}

.single-product .product-title h3 a:hover{
    color:#5f808d88;
}



a{
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    color: rgba(0, 0, 0, 0.726);
}

.btn-small{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 32px;
    border-radius: 50px;
    box-shadow: -2px -2px 8px white,
    -2px -2px 12px rgba(177, 175, 175, 0.76),
   inset 2px 2px 4px rgba(148, 147, 147, 0.521),
    2px 2px 8px rgba(0,0,0,0.15);
    transition:0.4s ;
}

.btn-round
{
    display: inline block;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: -2px -2px 8px white,
    -2px -2px 12px rgba(177, 175, 175, 0.76),
   inset 2px 2px 4px rgba(148, 147, 147, 0.521),
    2px 2px 8px rgba(0,0,0,0.15);
    transition:0.4s ;
}
.btn-small:hover{
    box-shadow: -2px -2px 8px white,
    -2px -2px 12px rgba(177, 175, 175, 0.76),
   inset 2px 2px 4px rgba(148, 147, 147, 0.521),
    2px 2px 8px rgba(0,0,0,0.15);
    color: #6f9eb1a1;
    text-decoration: none;
}
.btn-round:hover{
    box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(177, 175, 175, 0.76),
    inset 2px 2px 4px rgba(148, 147, 147, 0.521),
    inset 2px 2px 8px rgba(0,0,0,0.15);
    color: #5f808da1;
}

.button-center
{justify-content: center;
 text-align: center;
}

.bttn-def{
    display: inline block;
    font-size: 14px;
    font-weight: 700px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 25px;
    border-radius: 50px;
    text-decoration: none;

}

.bttn-def:hover{
    color: rgb(71, 110, 133);
    box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(177, 175, 175, 0.76),
    inset 2px 2px 4px rgba(148, 147, 147, 0.521),
    inset 2px 2px 8px rgba(0,0,0,0.15);
    color: rgba(111, 151, 173, 0.877);
}

.bttn-def:hover span{
    display: inline-block ;
    transform: scale(0.98);
}


/*LAST ROW*/
/* Generals resets and unimportant stuff */
* { margin: 0px; padding: 0px; }
body {
	background: #eaebec;
	font-family: "Open Sans", sans-serif; 
}
#view-code{
  color:#48cfad; 
  font-size:14px;
  text-transform:uppercase;
  font-weight:700;
  text-decoration:none;
  position:absolute;top:640px; left:50%;margin-left:-35px;
}
#view-code:hover{color:#34c29e;}

/* --- Product Card ---- */


/*FOOTER*/

.contact-box {
	padding: 70px 0px;
}

.left-contact h2 {
	font-size: 22px;
	font-weight: 500;
	padding-bottom: 30px;
}

.cont-line {
	overflow: hidden;
	margin-bottom: 30px;
}

.icon-b {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	font-size: 25px;
	margin-right: 15px;
	color: #fff;
	border-radius: 100%;
	background: #f2184f;
}

.dit-right h4 {
	font-size: 16px;
	color: #3a4149;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.dit-right p {
	font-size: 14px;
	margin-top: 0;
}

.dit-right a {
	font-size: 14px;
	color: #3a4149;
	font-weight: 300;
	line-height: normal;
}

.dit-right a:hover {
	color: #57cef8;
}

.contact-block {}

.contact-block .form-group .form-control {
	background: #333;
	height: 48px;
	font-size: 14px;
	border: 0;
	padding: 5px 20px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	font-weight: 200;
	letter-spacing: 0px;
}

.submit-button .btn-common {
	background-color: #f2184f;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 0 20px;
	border: 0;
	outline: 0;
	text-transform: uppercase;
	border-radius: 0px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 0;
	opacity: 1;
}

.contact-block .form-group textarea.form-control {
	height: 150px;
	padding-top: 15px;
}

.submit-button .btn-common:hover {
	background-color: #111;
	opacity: 1;
}

.custom-select {
	height: 45px;
	font-size: 16px;
}

select.form-control:not([size]):not([multiple]) {
	height: calc(45px + 2px);
}

.help-block ul li {
	color: red;
}

.footer-box {
    background: #1f1f1f;
    padding: 50px 0;
}

.footer-box .footer-company-name {
	text-align: center;
	margin: 0px;
	color: #333;
	font-size: 13px;
	font-weight: 400;
	padding-top: 2px;
}

.footer-box .footer-company-name a {
	color: #333;
	text-decoration: underline !important;
}

.footer-box .footer-company-name a:hover {
	color: #e91327;
}


/*------------------------------------------------------------------ Subscribe -------------------------------------------------------------------*/

.subscribe-box {
	padding: 70px 0px;
	background: #e91327;
}

.subscribe-inner {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}

.subscribe-inner h2 {
	font-size: 80px;
	font-weight: 600;
	color: #ffffff;
	font-family: 'Great Vibes', cursive;
	padding: 0;
}

.subscribe-inner p {
	color: #cccccc;
}

.subscribe-inner .form-group .form-control-1 {
	width: 100%;
	padding: 12px 15px;
	border-radius: 0px;
	border: none;
}

.subscribe-inner .form-group button {
	border-radius: 0;
	transition: .2s;
	padding: 10px 18px;
	background: #222;
	color: #ffffff;
	border: none;
	cursor: pointer;
	font-weight: 300;
	letter-spacing: 0.1px;
	border-radius: 0 15px 0 15px;
}

.about-main-info h2 img {
	margin-top: -10px;
}

p {
	margin-top: 5px;
	margin-bottom: 1rem;
	font-size: 16px;
	font-weight: 300;
	line-height: normal;
}

.text_align_center {
	text-align: center;
}

.red_bg {
	background: #e91327;
}

.white_fonts p,
.white_fonts h1,
.white_fonts h2,
.white_fonts h3,
.white_fonts h4,
.white_fonts h5,
.white_fonts h6,
.white_fonts ul,
.white_fonts ul li,
.white_fonts ul li a,
.white_fonts ul i,
.white_fonts .post_info i,
.white_fonts div,
.white_fonts a.read_more {
	color: #fff !important;
}

.red_bg .about-main-info a {
	background: #fff;
	color: #e91327;
}

.testimonial_img {
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
}

.mfp-figure figure .mfp-bottom-bar {
	display: none;
}

#client_slider .carousel-indicators {
	bottom: -45px;
}

#client_slider .carousel-indicators li {
	height: 15px;
	width: 15px;
	border-radius: 100%;
	background: #999;
}

#client_slider .carousel-indicators li.active {
	background: #e91327;
}

.layout_padding {
	padding-top: 75px;
	padding-bottom: 75px;
}

.heading_main h2 {
    font-size: 40px;
    letter-spacing: -0.5px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.heading_main p.large {
    font-size: 20px;
    color: #605f5f;
    position: relative;
    padding: 0;
    font-weight: 500;
    margin: 0;
}

.heading_main p {
    font-family: 'Raleway', sans-serif;
}

.heading_main p.small_tag {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 600;
    margin: 0;
}

.center {
	display: flex;
	justify-content: center;
}

p.section_count {
    font-size: 155px;
    margin: 0 45px 0 0;
    color: #cccac5;
    font-weight: 400;
    line-height: 70px;
}

.padding_0 {
	padding: 0;
}

.full {
	float: left;
	width: 100%;
}

.heading_main {
    float: left;
    display: flex;
}

.theme_bg {
	background: #07528d;
}

h3.small_heading {
	font-size: 35px;
	font-weight: 600;
	line-height: normal;
}

.margin-top_20 {
	margin-top: 20px;
}

.margin-top_30 {
	margin-top: 30px;
}

.margin-bottom_30 {
	margin-bottom: 30px;
}

.carousel a.carousel-control-prev {
    background: #f43866;
    opacity: 1;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 40%;
    left: -80px;
}

.carousel a.carousel-control-next {
	background: #f43866;
	opacity: 1;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	top: 40%;
	right: -80px;
}

#demo {
	margin-bottom: 20px;
}

ul.social_icon li a {
    width: 35px;
    height: 35px;
    background: #fff;
    float: left;
    border-radius: 100%;
    text-align: center;
    font-size: 16px;
}

ul.social_icon li i {
	color: #000 !important;
	line-height: 35px;
}

ul.social_icon li {
	float: left;
	margin: 0 5px;
}

.inner_page .top-header {

    position: relative;

}

.inner_page .inner_page_header {

    background: #1f1f1f;
    padding: 40px 0;

}

.inner_page .inner_page_header h3 {

    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;

}

.footer_bottom {
    background: #191919;
    padding: 15px 0;
}

.footer_bottom p.crp {
	float: left;
	margin: 0;
	color: #8d8d8c;
	font-size: 15px;
}

.footer_menu ul {
    list-style: none;
    width: 100%;
    float: left;
}

.footer_blog li a {
    font-size: 14px;
    font-weight: 300 !important;
    color: #acaba9 !important;
}

.recent_post_footer p {
    color: #acaba9 !important;
    font-size: 13px;
}

.footer_blog h3 {
    margin-bottom: 10px;
}

.newsletter_form input {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.newsletter_form button {
    background: #f43866;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
}

footer.footer-box p {
    font-size: 14px;
}

.footer_blog {
    float: left;
    width: 50%;
}

ul.bottom_menu li a {
	color: #8d8d8c;
}

ul.bottom_menu li {
	float: left;
	font-size: 14px;
	font-weight: 300;
	margin-left: 20px;
}

.bottom_menu {
	float: right;
}

.innerpage_banner {
	background-color: #f9f9f9;
	min-height: 150px;
	text-align: center;
	background-image: url("../images/slider-01.jpg");
	background-size: cover;
	background-position: center center;
}

.innerpage_banner h2 {
	margin: 55px 0 0;
	padding: 0;
	font-size: 30px;
	text-align: left;
	font-weight: 500;
	position: relative;
}

#demo .img-responsive {
	width: 100%;
}

.top-header.fixed-menu .search-btn {
	background: #111;
}

.top-header.fixed-menu .search-btn img {
    width: 25px;
}

.top-header.fixed-menu .search-box:hover .search-txt {
	width: 240px;
	padding: 0 10px;
	border: solid #000 1px;
	height: 41px;
}

.top-header.fixed-menu ul li:hover a,
.top-header.fixed-menu ul li:focus a {
	color: #0892fd !important;
}





/*delete*/







